@model ListaDespesaViewModel
@{
    ViewBag.Title = "Despesas";
}

@* Não precisa do  asp-controller="Despesas" *@
<a asp-controller="Despesas" asp-action="Registro">Registrar</a>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Valor</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Despesas.Any())
        {
            <tr>
                <td colspan="5">Nenhuma despesa</td>
            </tr>
        }
        @foreach (var item in Model.Despesas)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Valor</td>
                <td>@item.Descricao</td>
                <td>@item.Data</td>
                <td>
                    <a asp-action="Remover" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>

</table>
